@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);

/* topbar */
prm-topbar .top-nav-bar {
  background-color: #555;
  background-image: url(../img/black-bar.jpg);
  background-repeat: repeat;
  color: #c5cfd7;
}
prm-main-menu .md-button .item-content {
  /* font-family: Georgia, Times New Roman, Times, serif; */
  letter-spacing: default;
  color:#c5cfd7;
}
/* change the logo 
prm-logo {
  padding: 7px;
}
prm-logo .product-logo {
  display: none;
}
prm-logo .product-logo-local {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
prm-logo img {
  display: inline-block;
  margin: 0 3px;
  height: 46px;
  width: auto;
}
@media (max-width: 1279px) {
  prm-logo .novanet-icon {
    display: inline-block;
  }
}
@media (min-width: 1280px){
  prm-logo .novanet-icon {
    display: none;
  }
}

** The logos will usually be wider now, so change the breakpoint at which the main menu
** and user area collapse into the mobile menu button
*
@media (max-width: 959px) and (min-width: 720px){
  prm-topbar .hide-sm:not(.show-gt-xs):not(.show-sm):not(.show),
  prm-topbar .hide:not(.show-gt-xs):not(.show-sm):not(.show) {
    display: none;
  }
  prm-topbar .hide-gt-xs:not(.show-gt-xs):not(.show-sm):not(.show){
    display: inline-block;
  }
}
@media (max-width: 719px){
  prm-topbar .hide-xs:not(.show-xs):not(.show),
  prm-topbar .hide:not(.show-xs):not(.show) {
    display: none;
  }
}
*/
/* user menu overlay that pops out */
.prm-primary-bg.prm-hue3-important,
prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after,
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background,
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background,
prm-search-bar.prm-hue3-important {
  background-color: #333 !important;
}

/* search bar background */
.prm-primary-bg,
prm-search-bar,
prm-search-bar .advanced-search-backdrop {
  background-color: #2d678d;
  background-image: url(../img/header-rpt-x.jpg), url(../img/header-rpt-xy.jpg);
  background-repeat: repeat no-repeat, repeat;
  background-size: auto auto, auto auto;
  background-position: left top, left top;
  color: #444;
}
/* add novanet logo to search bar to left of the actual search box. */
@media (min-width: 1280px ){
  prm-search-bar .flex-0:first-of-type,
  prm-account>md-toolbar .flex-0:first-of-type  {
    background: url("../img/novanet-logo.svg") center no-repeat transparent;
    background-size: auto 60px;
    min-height: 60px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px){
  /* make a little more room for the logo between these breakpoints */
  prm-search-bar .flex-0:first-of-type,
  prm-account>md-toolbar .flex-0:first-of-type  {
    flex: 1 1 20%;
    max-width: 20%;
  }
  prm-search-bar .search-elements-wrapper {
    max-width: 55%;
  }
}
/* change search bar height a bit */
prm-search-bar {
  padding: 2.5em;
}

/* specific font colors for buttons in search bar */
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced,
prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
  color: #fff;
  background-color: transparent;
}

/* text in the auto complete suggestions */
.md-autocomplete-suggestions .suggestion-scope {
  color: #000;
}

.prm-secondary-color,
prm-search-bookmark-filter .md-button,
prm-topbar .top-nav-bar {
  color: white;
}

.prm-secondary-color.prm-hue2,
prm-search-bookmark-filter .prm-hue2.md-button,
prm-topbar .prm-hue2.top-nav-bar {
  color: #2b6691;
}
.prm-secondary-bg,
md-progress-linear[md-mode=indeterminate].header-progress-bar .md-bar {
  background-color: #2b6691;
}
.prm-secondary-bg.prm-hue1,
md-progress-linear[md-mode=indeterminate].header-progress-bar .prm-hue1.md-bar,
md-tabs md-ink-bar,
md-input-container:after,
md-radio-button.md-checked .md-on,
md-radio-button.md-checked ._md-on {
  background-color: #2b6691;
}
.prm-secondary-bg.prm-hue2,
md-progress-linear[md-mode=indeterminate].header-progress-bar .prm-hue2.md-bar,
md-checkbox.md-checked .md-icon,
md-checkbox.md-checked ._md-icon {
  background-color: #2b6691;
}
.prm-secondary-border,
.prm-secondary-border.prm-hue1,
md-select:focus .md-select-value,
.md-input-container-dummy > .md-select-dummy:focus .md-select-value,
.md-input-focused md-select .md-select-value,
.md-input-focused .md-input-container-dummy > .md-select-dummy .md-select-value,
md-select:not([disabled]):focus .md-select-value,
.md-input-focused
md-select:not([disabled]) .md-select-value,
md-radio-button.md-checked .md-off,
md-radio-button.md-checked ._md-off {
  border-color: #2b6691;
}


/* Main Menu items. */
prm-topbar .md-button,
prm-topbar .md-button.button-over-dark {
  color: #fff;
}

body {
  font-family: Source Sans Pro, Open Sans, Helvetica, Verdana, Arial, sans-serif;
}
/* user name */
prm-user-area .user-menu-button .user-name {
  color: #cc9235;
  font-family: Quicksand, Helvetica, Verdana, Arial, Source Sans Pro, Open Sans, sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.md-button {
  font-family: Quicksand, Helvetica, Verdana, Arial, Source Sans Pro, Open Sans, sans-serif;
  letter-spacing: -0.5px;
}

/* buttons */
.tiles-grid-tile .tile-content>.md-button,
md-grid-tile .tile-content>.md-button,
.md-button.button-confirm,
.md-button.md-primary,
.md-button.md-accent,
.md-button.button-link,
.md-button.button-as-link.link-alt-color {
  color: #2b6691;
}
.md-button.button-confirm._md-focused:not([disabled]),
.md-button.button-confirm.hovered:not([disabled]),
.md-button.button-confirm.md-focused:not([disabled]),
.md-button.button-confirm:focus:not([disabled]),
.md-button.button-confirm:hover:not([disabled]),
.md-button.md-primary._md-focused:not([disabled]),
.md-button.md-primary.hovered:not([disabled]),
.md-button.md-primary.md-focused:not([disabled]),
.md-button.md-primary:focus:not([disabled]),
.md-button.md-primary:hover:not([disabled]),
.md-button.md-accent._md-focused:not([disabled]),
.md-button.md-accent.hovered:not([disabled]),
.md-button.md-accent.md-focused:not([disabled]),
.md-button.md-accent:focus:not([disabled]),
.md-button.md-accent:hover:not([disabled]),
.md-button.button-link._md-focused:not([disabled]),
.md-button.button-link.hovered:not([disabled]),
.md-button.button-link.md-focused:not([disabled]),
.md-button.button-link:focus:not([disabled]),
.md-button.button-link:hover:not([disabled]),
.md-button.button-as-link.link-alt-color._md-focused:not([disabled]),
.md-button.button-as-link.link-alt-color.hovered:not([disabled]),
.md-button.button-as-link.link-alt-color.md-focused:not([disabled]),
.md-button.button-as-link.link-alt-color:focus:not([disabled]),
.md-button.button-as-link.link-alt-color:hover:not([disabled]) {
  color: #2b6691;
  background-color: rgba(0, 139, 205, 0.1);
}

.md-button.button-as-link,
.md-button.button-notice {
  color: #cc9235;
}
.md-button.button-as-link._md-focused:not([disabled]),
.md-button.button-as-link.hovered:not([disabled]),
.md-button.button-as-link.md-focused:not([disabled]),
.md-button.button-as-link:focus:not([disabled]),
.md-button.button-as-link:hover:not([disabled]),
.md-button.md-notice._md-focused:not([disabled]),
.md-button.md-notic.hovered:not([disabled]),
.md-button.md-notice.md-focused:not([disabled]),
.md-button.md-notice:focus:not([disabled]),
.md-button.md-notice:hover:not([disabled]) {
  color: #cc9235;
  background-color: rgba(224, 131, 3, 0.1);
}

/* diamond progress bars */
.diamond {
  background-color: #333 !important;
  background-image: url(../img/black-bar.jpg);
}

::selection {
  background: #F7EDA3;
}

/* calm the alert bar down a little
.bar.alert-bar,
.classic-input .search-scope,
.prm-alert-border {
  border-color: #F6EDDE;
}
.bar.alert-bar,
.classic-input .search-scope,
.prm-alert- {
  background-color: #F6EDDE;
}
*/

/* search term highlighting with box-shadow as underline */
mark {
  box-shadow: inset 0 -0.3em 0 0 #f7eda3;
/*  background-color: #F7EDA3; */
}

/* headers and titles */
.section-title-header,
.sidebar-header {
  font-family: Quicksand, Helvetica, Verdana, Arial, Source Sans Pro, Open Sans, sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #3a3a3a;
}
.section-title prm-icon {
  color: #3a3a3a;
}

prm-brief-result .item-title,
prm-brief-result .item-title span {
  color: #2b6691;
}
/* single weird icon */
prm-search-bar .advanced-search-wrapper .search-string .string-block prm-icon {
  color: #2b6691;
}

/* actions */
.result-item-actions .custom-button,
.result-item-actions .more-options-button,
md-tab-content .tab-content-header md-input-container md-select-value .md-text,
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active:not([disabled]),
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-focused:not([disabled]),
prm-add-query-to-saved-searches .custom-button,
prm-action-list md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:not([disabled]) {
  font-family: Quicksand, Helvetica, Verdana, Arial, Source Sans Pro, Open Sans, sans-serif;
  font-weight: 400;
  color: #2b6691;
  opacity: 1;
}
/* fix Action list spacing */
@media (min-width: 900px) {
  prm-action-list>md-nav-bar ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
  }
}

.result-item-actions .custom-button.pin-button,
prm-add-query-to-saved-searches .custom-button.pin-button,
prm-recomendation-item .media-on-hover .pin-button,
.result-item-actions .custom-button.unpin-button,
prm-add-query-to-saved-searches .custom-button.unpin-button,
prm-recomendation-item .media-on-hover .unpin-button {
  color: #cc9235;
}

/* bookmarked/favourited search results */
.list-item-wrapper .item-bookmarked,
.list-item-wrapper .item-bookmarked:hover {
  background-color: #F6EDDE;
  border: 0.2em solid #cc9235;
  border-radius: 0.3em;
}

prm-main-menu[menu-type=full] md-card .md-headline {
  color: #cc9235;
  font-family: Quicksand, Helvetica, Verdana, Arial, Source Sans Pro, Open Sans, sans-serif;
  /* font-weight: 700; */
}
h2, .md-headline {
  font-weight: 400;
}
md-backdrop.md-opaque {
  background-color: #2b6691;
  /*background-color: #F6EDDE;*/
}

a {
  color: #2b6691;
}
a:hover {
  background-color: transparent;
  color: #2b6691;
}

/* live help widget */
#novanet-live-help {
  transform: rotate(90deg);
  position: fixed;
  right: -1.5em;
  font-size:larger;
  font-weight:bold;
  padding:0.5em;
  top: 55%;
  z-index: 1000;
  border:2px solid white;
  border-radius: 0.2em;
  background-color: #0075b0;
  color:white;
  box-shadow:0px 0px 2px 2px #0075b0;
}
#novanet-live-help svg {
  color: white;
  fill: white;
}
.md-warn svg {
  color: tomato;
  fill: tomato;
}


/***** My Account ****/

/* add the blue banner */
@media (max-width: 1279px) {
  prm-account>md-toolbar.md-primoExplore-theme.default-toolbar {
    background: url(../img/header-rpt-x.jpg);
    color: white;
    padding: 0.5em;
  }
}
@media (min-width: 1280px) {
  prm-account>md-toolbar.md-primoExplore-theme.default-toolbar {
    background: url(../img/header-rpt-x.jpg);
    color: white;
    padding: 2.5em;
  }
  /* undo this offset because we're using the space on the left for a logo */
  .__gt-sm prm-account>md-toolbar.md-primoExplore-theme .back-button.offset-to-left,
  .__gt-sm prm-account>md-toolbar:not(.md-menu-toolbar) .back-button.offset-to-left {
    margin-left: 0;
  }
}
prm-account>md-toolbar prm-icon md-icon.md-primoExplore-theme svg {
  color: white;
  fill: white;
}
prm-account>md-toolbar>button.offset-to-left {
  margin-left: 0;
}

/* widen the account overview boxes a little
prm-account .tiles-grid {
  column-width: 24em;
}
*/

/* hide button to cancel hold requests 
button[aria-label="cancel request button"] { style:display:none; }
*/

/**** Advanced Search *****/
/* bold the boolean operator drop-down */
prm-advanced-search .uppercase { font-weight: bold; }


/* hide the day and month drop-downs, but leave the year (not a drop-down) */
/* prm-advanced-search .date-range-inputs md-select { display: none; }     */


/***** Search Results List ****/

/* adding the 'search elsewhere' box removes the need for this spacer
prm-search-result-list .list-spacer { height: 10px ; min-height: 10px; }
prm-search-result-list .spacer-replacer { min-height: 200px; }
*/


/**** Full Display ****/

/* remove the side navbar for sections */
prm-full-view .services-index-under #services-index {
   display: none;
}
.__gt-xs .full-view-section-content {
  padding-left: 0;
}

/* define the sections with colors and spacing */
.full-view-container,
.full-view-inner-container{
  background-color:#dcdcdc;
/*  background-color:#F5DEB3; */
}
.full-view-section {
  padding: 0;
}
prm-full-view-service-container {
  display: block;
  border-radius: 8px;
  background-color: #e9e9e9;
/*  background-color: #F6EDDE; */
  padding: 10px;
}
prm-service-header {
  color: black;
  font-family: Quicksand, Helvetica, Verdana, Arial, Source Sans Pro, Open Sans, sans-serif;
}
prm-service-header md-divider.md-primoExplore-theme {
  color: black;
}

/* hide 'request', etc. buttons in the 'Other Institutions' item list */
prm-alma-other-members prm-service-button {
  display: none;
}
prm-alma-other-members button[aria-label="register"] { display:none; } 


/**** novanet-library-hours custom directive ****/

.novanet-library-hours header {
  font-weight: bold;
}
.novanet-library-hours .times {
  float: right;
}
.novanet-library-hours ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}
.novanet-library-hours li {
  margin: 0;
  padding: 0;
}
.novanet-library-hours .today {
  margin: 0 1em 1em 1em;
}
