

/* topbar */

.prm-primary-bg.prm-hue1,
prm-spinner.prm-hue1.overlay-cover.light-on-dark:after,
prm-topbar .top-nav-bar,
prm-search-bar.prm-hue1 {
  background-color: #707372;
}

/* user menu overlay that pops out */
.prm-primary-bg.prm-hue3-important,
prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after,
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background,
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background,
prm-search-bar.prm-hue3-important {
  background-color: #5f6161 !important;
}

/* search bar background */
.prm-primary-bg,
prm-spinner.overlay-cover.light-on-dark:after,
prm-search-bar,
prm-search-bar .advanced-search-backdrop {
  background-color: #fff;
}

/* keep the shadow around the search bar all the time because it's white on white now */
/*  (default takes shadow away on wide screens */
prm-search-bar .simple-search-wrapper {
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
}

/* specific font colors for buttons in search bar */
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced,
prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
  color: #333;
}

/* text in the auto complete suggestions */
.md-autocomplete-suggestions .suggestion-scope {
  color: #000;
}

.prm-secondary-color,
prm-search-bookmark-filter .md-button,
prm-topbar .top-nav-bar {
  color: white;
}

.prm-secondary-color.prm-hue2,
prm-search-bookmark-filter .prm-hue2.md-button,
prm-topbar .prm-hue2.top-nav-bar {
  color: #f2ac00;
}
.prm-secondary-bg,
md-progress-linear[md-mode=indeterminate].header-progress-bar .md-bar {
  background-color: #f2ac00;
}
.prm-secondary-bg.prm-hue1,
md-progress-linear[md-mode=indeterminate].header-progress-bar .prm-hue1.md-bar,
md-tabs md-ink-bar,
md-input-container:after,
md-radio-button.md-checked .md-on,
md-radio-button.md-checked ._md-on {
  background-color: #f2ac00;
}
.prm-secondary-bg.prm-hue2,
md-progress-linear[md-mode=indeterminate].header-progress-bar .prm-hue2.md-bar,
md-checkbox.md-checked .md-icon,
md-checkbox.md-checked ._md-icon {
  background-color: #f4bc32;
}
.prm-secondary-border,
.prm-secondary-border.prm-hue1,
md-select:focus .md-select-value,
.md-input-container-dummy > .md-select-dummy:focus .md-select-value,
.md-input-focused md-select .md-select-value,
.md-input-focused .md-input-container-dummy > .md-select-dummy .md-select-value,
md-select:not([disabled]):focus .md-select-value,
.md-input-focused
md-select:not([disabled]) .md-select-value,
md-radio-button.md-checked .md-off,
md-radio-button.md-checked ._md-off {
  border-color: #f2ac00;
}


/* Main Menu items. */
prm-topbar .md-button,
prm-topbar .md-button.button-over-dark {
  text-transform: none;
  color: #fff;
}

/* user name */
prm-user-area .user-menu-button .user-name {
  color: #f2ac00;
}

/* buttons */
.tiles-grid-tile .tile-content>.md-button,
md-grid-tile .tile-content>.md-button,
.md-button.button-confirm,
.md-button.button-link,
.md-button.button-as-link,
.md-button.button-as-link.link-alt-color,
.md-button.md-primary {
  color: #f2ac00;
}
.md-button.button-confirm._md-focused:not([disabled]),
.md-button.button-confirm.hovered:not([disabled]),
.md-button.button-confirm.md-focused:not([disabled]),
.md-button.button-confirm:focus:not([disabled]),
.md-button.button-confirm:hover:not([disabled]),
.md-button.button-link._md-focused:not([disabled]),
.md-button.button-link.hovered:not([disabled]),
.md-button.button-link.md-focused:not([disabled]),
.md-button.button-link:focus:not([disabled]),
.md-button.button-link:hover:not([disabled]),
.md-button.md-primary._md-focused:not([disabled]),
.md-button.md-primary.hovered:not([disabled]),
.md-button.md-primary.md-focused:not([disabled]),
.md-button.md-primary:focus:not([disabled]),
.md-button.md-primary:hover:not([disabled]),
.md-button.button-as-link._md-focused:not([disabled]),
.md-button.button-as-link.hovered:not([disabled]),
.md-button.button-as-link.md-focused:not([disabled]),
.md-button.button-as-link:focus:not([disabled]),
.md-button.button-as-link:hover:not([disabled]),
.md-button.button-as-link.link-alt-color._md-focused:not([disabled]),
.md-button.button-as-link.link-alt-color.hovered:not([disabled]),
.md-button.button-as-link.link-alt-color.md-focused:not([disabled]),
.md-button.button-as-link.link-alt-color:focus:not([disabled]),
.md-button.button-as-link.link-alt-color:hover:not([disabled]) {
  color: #f2ac00;
  background-color: bisque;
  background-color: rgba(245, 169, 0, 0.1);
}

::selection {
  background: #f2ac00;
}

/* diamond progress bars */
.diamond {
  background-color: #f2ac00 !important;
}

/* search term highlighting with box-shadow as underline */
mark {
  box-shadow: inset 0 -0.1em 0 0 #f2ac00;
}

/* headers and titles */
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active:not([disabled]),
.section-title-header,
.sidebar-header,
prm-brief-result .item-title,
prm-brief-result .item-title span {
  color: #000;
}

/* single weird icon */
prm-search-bar .advanced-search-wrapper .search-string .string-block prm-icon {
  color: #000;
}

/* actions */
.result-item-actions .custom-button,
.result-item-actions .more-options-button,
md-tab-content .tab-content-header md-input-container md-select-value .md-text,
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active:not([disabled]),
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-focused:not([disabled]),
prm-add-query-to-saved-searches .custom-button,
prm-action-list md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:not([disabled]) {
  color: #707372;
  opacity: 1;
}
.link-alt-color,
.section-title prm-icon,
.result-item-actions .custom-button.pin-button,
prm-add-query-to-saved-searches .custom-button.pin-button,
prm-search-bookmark-filter .prm-hue1.md-button,
prm-topbar .prm-hue1.top-nav-bar,
prm-recomendation-item .media-on-hover .pin-button {
  color: #f2ac00;
}

/* bookmarked/favourited search results */
prm-brief-result-container.item-bookmarked,
prm-brief-result-container.item-bookmarked:hover {
  background-color: #f3f3f3;
  border: 0.1em solid #f2ac00;
}

/* overlays */
prm-main-menu[menu-type=full] md-card .md-headline {
  color: #f2ac00;
}
md-backdrop.md-opaque {
  background-color: #707372;
}

/* replace default logo layout with contents of prm-logo-after */
prm-logo .product-logo {
    display:none;
}
prm-logo .product-logo-local {
  display: flex;
}
prm-logo .logo-image, prm-logo img {
  display: inline-block;
  margin: 0 0.5em;
}
