<md-card class="default-card novanet-library-hours">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Library Hours</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div ng-if="sublibraries.length == 1">

      <section class="today" ng-show="hours.today">
        <span>Today</span>
        <span class="times">{{hours.today | times}}</span>
      </section>
      <section class="regular-hours" ng-show="!angular.equals(hours.regular, {})">
        <header>Regular Hours</header>
        <ul>
          <li ng-repeat="row in hours.regular">
            <span class="dates">{{row.days  | weekdays }}</span>
            <span class="times">{{row.hours | times    }}</span>
          </li>
        </ul>
      </section>
      <section class="exceptions monthly-exceptions" ng-show="!angular.equals(hours.exceptions.monthly, {})">
        <div ng-repeat="(months,hours) in hours.exceptions.monthly">
          <header>{{months}}</header>
          <ul>
            <li ng-repeat="row in hours">
              <span class="dates">{{row.days  | weekdays }}</span>
              <span class="times">{{row.hours | times    }}</span>
            </li>
          </ul>
        </div>
      </section>
      <section class="exceptions daily-excpeptions" ng-show="!angular.equals(hours.exceptions.daily, {})">
        <header>Exceptions</header>
        <ul>
          <li ng-repeat="row in hours.exceptions.daily">
            <span class="dates">{{row.days  | dates }}</span>
            <span class="times">{{row.hours | times }}</span>
          </li>
        </ul>
      </section>  
  
    </div>    
    <div ng-if="sublibraries.length > 1">

      <md-tabs>
        <div ng-repeat="(sublib, hours) in hours">
          <md-tab label="{{ sublibraryData[sublib].shortName || sublib }}">
            <section class="today" ng-show="hours.today">
              <span>Today</span>
              <span class="times">{{hours.today | times}}</span>
            </section>
            <section class="regular-hours" ng-show="!angular.equals(hours.regular, {})">
              <header>Regular Hours</header>
              <ul>
                <li ng-repeat="row in hours.regular">
                  <span class="dates">{{row.days  | weekdays }}</span>
                  <span class="times">{{row.hours | times    }}</span>
                </li>
              </ul>
            </section>
            <section class="exceptions monthly-exceptions" ng-show="!angular.equals(hours.exceptions.monthly, {})">
              <div ng-repeat="(months,hours) in hours.exceptions.monthly">
                <header>{{months}}</header>
                <ul>
                  <li ng-repeat="row in hours">
                    <span class="dates">{{row.days  | weekdays }}</span>
                    <span class="times">{{row.hours | times    }}</span>
                  </li>
                </ul>
              </div>
            </section>
            <section class="exceptions daily-excpeptions" ng-show="!angular.equals(hours.exceptions.daily, {})">
              <header>Exceptions</header>
              <ul>
                <li ng-repeat="row in hours.exceptions.daily">
                  <span class="dates">{{row.days  | dates }}</span>
                  <span class="times">{{row.hours | times }}</span>
                </li>
              </ul>
            </section>  
          </md-tab>          
        </div>
      </md-tabs>
  
    </div>
  </md-card-content>
</md-card>
