<md-card class="default-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Where can I get help?</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div jid="novanet@chat.libraryh3lp.com" class="libraryh3lp" style="display:none">
      <p><a href ng-click="showChat($event);">Ask a librarian</a> how to start your search.</p>
    </div>
    <div class="libraryh3lp" style="display:none">
      <p><a href ng-click="sayOffline($event);">Ask a librarian</a> how to start your search.</p>
      <p><md-icon md-svg-icon="content:ic_block_24px"></md-icon> LiveHelp is currently offline.</p>
    </div>
    
    <div style="margin-top:3em">
      <header><strong>Hours of Operation</strong></header>
      <div layout="row">
        <div flex>Mon - Thu</div><div flex="50">10am - 10pm</div>
      </div>
      <div layout="row">
        <div flex>Friday</div><div flex="50">10am - 6pm</div>
      </div>
      <div layout="row">
        <div flex>Saturday</div><div flex="50">No Service</div>
      </div>
      <div layout="row">
        <div flex>Sunday</div><div flex="50">4pm - 10pm</div>
      </div>
    </div>
    <div style="margin-top:1em">
      <header><strong>No Service</strong></header>
      <div layout="row" title="Thanksgiving">Oct 9, 2017</div>
      <div layout="row" title="Rememberance Day">Nov 13, 2017</div>
      <div layout="row" title="Winter Break">Dec 9, 2017 - Jan 7, 2018</div>
      <div layout="row" title="Heritage Day">Feb 19, 2018</div>
      <div layout="row" title="Easter Break">Mar 30, 2018 - Apr 2, 2018</div>
      <div layout="row" title="Victoria Day">May 21, 2018</div>
    </div>
    
  </md-card-content>
</md-card>
