<!-- the JS from libraryh3lp.com will remove the display:none style if someone is online, accepting chat requests. -->

<!-- ng-if doesn't know about window.  Try $window -->
<div ng-if=" window.appConfig.vid != 'MTA' ">

  <div ng-click="showChat($event);" id="novanet-live-help" jid="novanet@chat.libraryh3lp.com" class="libraryh3lp" style="display:none" aria-label="Live Help. Ask a Librarian!">
    <md-tooltip md-direction="left" md-autohide="false">
      Live Help. (service available in English only)
    </md-tooltip>
    <div>
      <span>{{liveHelpText}}</span>
    </div>
  </div>

</div><!-- end if -->
