<md-card class="default-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Where can I get help?</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div jid="novanet@chat.libraryh3lp.com" class="libraryh3lp" style="display:none">
      <p><a href ng-click="showChat($event);">Ask a librarian</a> how to start your search.</p>
    </div>
    <div class="libraryh3lp" style="display:none">
      <p><a href ng-click="sayOffline($event);">Ask a librarian</a> how to start your search.</p>
      <p><md-icon md-svg-icon="content:ic_block_24px"></md-icon> LiveHelp is currently offline.</p>
    </div>
    
    <div style="margin-top:3em">
      <header><strong>Hours of Operation</strong></header>
      <div layout="row">
        <div flex>Mon - Fri</div><div flex="50">10am - 4pm</div>
      </div>
    </div>
    <div style="margin-top:1em">
      <header><strong>No Service</strong></header>
      <div layout="row" title="Victoria Day">May 21, 2018</div>
    </div>
    
  </md-card-content>
</md-card>
