/* for the video on the 01NOVA_USA:USA home page */
#embedcontainer {
  position: relative;
}
#embedcontainer::before {
  content: "";
  display: block;
  padding-bottom: 56%; /*calculated from a 16x9 aspect ratio*/
}  
#embedcontainer > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}  

/* hide the file name in Alma Digital viewer */
prm-representation-viewer span[id^="file_label"] {display: none}

/* add a little space between multiple 500-note fields that all appear consecutively under 'Public Note' */
prm-service-details div.word-break span {
  display: inline-block;
  margin-bottom: 0.5em;
}
prm-service-details div.word-break a span {
  display: inline;
}
